@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner&family=Edu+VIC+WA+NT+Beginner&family=Pacifico&family=Righteous&family=Roboto:wght@100;400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary:  #08156b;
    --secondary: #0B1340;
    --highlight:  #8B8C8B;
    --main:  #10241B;
    --support: #0D0D0D;
    --fottext: Edu VIC WA NT Beginner;
    --subtext: Edu QLD Beginner;
    --tough: Pacifico;
    
    
}
p{
    font-family: "Righteous";
}
.container{
    max-width: 1400px;
    margin: auto;
    line-height: 1.6rem;
    font-size: 16px;
    font-family: 'Robato';
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 1.3rem 3rem;
    /* background-color: ; */
    border: 1px solid var(--main);
    align-items: center;
}
.logo{
    font-size: 1.5rem;
    font-family: 'Righteous';
    color: var(--primary);
}
.logo h6{
    font-size: 1rem;
    font-family: var(--subtext);
}
.links{
    list-style: none;
    display: flex;
}
.links a{
    text-decoration: none;
    margin-right: 1.5rem;
    color: var(--main);
    /* color: #10241B; */
    transform: translateY(-100);
    transition: all 3s;
    font-family: var(--tough);
}
.links a:hover{
    color: var(--primary);
    text-decoration: underline;
}
.links a.active{
    background-color: #f4f4f4;
    padding: 3px 19px;
    border-radius: 18px;
    border: 1px solid #10241B10;
}

img{
    width: 100%;
}
.hero{
    background-image: url('../IMAGES/cow.jpg');
    background-position: center;
    background-size: cover;
    padding: 3rem;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    margin: 0;

}
.welcome{
    margin: 0 30% 0 0 ;
    padding: 1.5rem;
    border-radius: 10px;
    font-family: "Roboto";
}
.welcome h1{
    font-size: 1.9rem;
    line-height: 1.9rem;
    color: var(--primary);
    font-family: var(--tough);
    font-weight: 100;
}
.welcome h5{
    font-family: var(--subtext);
}
.btn-contact{
    padding: 1rem 1.5rem;
    border: none;
    color: #ffffff;
    background: var(--primary);
    border-radius: 5px;
    margin: 1rem 0;
}
.btn-contact a{
    color: #ffffff;
    text-decoration: none;
}
.wel-head{
    color: var(--primary);
    text-shadow: rgb(67, 72, 81) 0px 3px 3px;
    display: inline-block;
    margin: 10px 0;
}
.welcome p{
    font-size: 1.3rem;
    width: 70%;
    padding: 1.3rem 0;
    font-family: var(--fottext);
}
.burger .line{
    width: 28px;
    height: 4px;
    background-color: var(--primary);
    margin: 3px;
}
.burger{
    cursor: pointer;
    display: none;
}
.details{
    background-color: #f4f4f490;
    padding: 3rem;
    margin: 1.4rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));

}
.attribute{
    display: flex;
    padding: 3rem;
    /* flex-direction: column; */
}
.attribute > div{
    padding: 1.3rem;
}
.attribute h3{
    text-align: right;
    font-family: var(--fottext);
}

.quotes{
    font-size: 1.9rem;
    font-family: 'Courier New', Courier, monospace;
}
.program{
    height: 100vh;
}
.purpose{
    padding: 4rem;
    /* border: 1px solid #010626; */
    font-family: "Righteous";
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    
}

footer{
    display: flex;
    justify-content: center;
    padding: 1.3rem;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(65, 53, 65);
    width: 100%;
    color: white;
}



/* CONTACT */
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.contact-section h1{
    margin: 1.5rem 0;
}
.contact-section{
    margin: 1rem 10rem;
    padding:  3rem 5rem 5rem 5rem;
    background-color: #f4f4f4;
    border-radius: 5rem;
    border: 1px solid #01062610;
}




/* ABOUT US */
.light-bg{
    position: fixed;
    top: 30%;
    background-color: #f4f4f450;
    margin: 1rem 10rem;
    padding:  5rem;
    border-radius: 5rem;
    border: 1px solid #01062610;
}

.about{
    height: 100vh;
    background-image: url('../IMAGES/two-cows.jpg');
    background-position: center;
    background-size: cover;
}
@media  screen and (max-width: 900px) {
    .welcome {
            margin: 0 0 0 0;
            padding: 1.5rem;
            border-radius: 10px;
    
        }
    .burger{
        display: block;
    }
    nav .links{
        display: none;
    }
}
@media  screen and (max-width: 700px) {
.welcome {
        margin: 0 0 0 0;
        padding: 1.5rem;
        border-radius: 10px 100px 10px 0;
        border: #ffffff25 solid 1px;
        background-color: #f4f4f425;
    }
.welcome p {
    width: 80%;
    text-shadow: #ffffff 0px 3px 3px;
    font-weight: bold;
    /* font-style: italic; */

}
.logo {
    font-size: 1rem;
}
.hero{
    padding: 1rem;
}   
}